<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Simple WebApp</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Sample Simple WebApp 🌱</h1>
    </header>
    <main>
        <h2>Welcome to the Sample Simple WebApp</h2>
        <p>This is a sample page .</p>
    </main>
    <footer>
        <p>&copy; 2025 Sample Simple WebApp</p>
    </footer>
</body>
</html>